*{
    margin:0;
    padding:0;
    
}

body{
    background-color: black;
    color:seashell;
    font-size:22px;
    font-family:helvetica;
    width:100vw;
    margin:0;
}

h2,h4{
    margin: 10px;
}

.heading h2, .heading h4{
     margin:27px;
}
/*Header Styling*/
header{
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display:inline-flex;
    position: fixed;
    background-color:black;
    z-index:2;
}

#logo{
    display:inline-flex;
    height: 50px;
    margin: auto 10px;
}

nav{
    width:100%;
    display:flex;
    padding-right: 10px;
  
}
nav ul{
    display:flex;
    justify-content:flex-end;
    width:100%;
    margin: auto 0px  auto 10px;
}
li{
    display:inline-block;
    text-decoration: underline;
    margin: auto 10px;
}


/*Main Sections Styling*/
main{
    padding-top:69px;
    height: 100%;
    text-align: center;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}




/*First Section*/
.first-img{
    width:1200px;
    height:700px;
    position:relative;
 }

 .first-section{
    position: relative;
    margin-bottom:20px;
 }

.banner{
    position: absolute;
    top:240px;
    left:0%;
    width: 100vw;
    background-color: black;
    height:90px;
    margin-top:20px;
    z-index:1;
    opacity: 0.9;
}

@media only screen and (max-width:520px){
    .banner{
        height: 135px;
        width: 100vw;
    }
}
@media only screen and (min-width:521px) and (max-width:810px){
    .banner{
        height: 120px;
        width: 100vw;
    }
}
/*Second Section*/

.second-section{
    position:relative;  
    margin-bottom:60px;  
}

.flex{
    display: flex;
    width: 1000px;
    margin: 0px auto;
    gap:40px;
    flex-wrap: wrap;
    justify-content: center;
}

.flex .card img{
    width:300px;
    height:200px;
    margin-bottom: 10px;
}
.card{

    margin: 0px 0px;
    flex-grow: 0;
    flex-shrink: 0;

}

.card:hover {
    transform: scale(1.1);
}
p{
    margin-top:10px;
}


/*Third Section*/
.third-section{
    height:500px;
    display: flex;
    align-items: center;
    margin: 250px auto;
    height: 570px;
    width: 1200px;
}

.address{
    padding-top:20px;
    
}
.flex-address{
    position: relative;
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    width: 1000px;
    margin: 0px auto;
    gap:40px;
    display: inline-flex;
    justify-content: space-evenly;
    gap:10px;
}

.location-card{
    border-radius: 5px;
    position: absolute;
    display:inline-block;
    width: 300px;
    background-color: black;
    height:200px;
    padding:50px 0px;
    z-index:1;
    opacity: 1;
    gap: 40px;
}


.location-card:hover {
    transform: scale(1.1);
}
.location-header{
    position: absolute;
    padding-bottom:400px;
    margin-bottom: 15px;
}

.margin-right{
    margin-right:640px;
}
.margin-left{
    margin-left:640px;
}
/*Footer Styling*/
footer{
    height:200px;
    width:100vw;
    text-align: center;
}
